<div class="row">
	<div class="col-lg-6">
		<div class="mb-3">
			{{ form_row(form.username) }}
		</div>
		<div class="mb-3">
			{{ form_row(form.email) }}
		</div>
	</div>
	<div class="col-lg-6 mb-3">
		{{ form_row(form.password) }}
		{# To modify margin between the two passwords : please use the attr class in userType.php #}
	</div>
</div>
<div class="row mb-5">
	{{ form_row(form.roles) }}
</div>
