parameters:
	level: max
	paths:
	    - src
	    - tests
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
	    - '#Property App\\Entity\\Task::\$id is never written, only read.#'
	    - '#Property App\\Entity\\User::\$id is never written, only read.#'
