{% extends 'base.html.twig' %}

{% block header_title %}
	<div class="m-5">
		<h1 class="text-center">Bienvenue
			{{ app.user.username|capitalize }}
			!
		</h1>
	</div>
{% endblock %}

{% block header_img %}
	<img class="img-fluid" src="{{ asset('assets/img/todolist_full.jpg') }}" alt="todo list image">
{% endblock %}

{% block body %}

	<div class="row">
		<a href="{{ path('task_create') }}" class="btn btn-primary">Créer une nouvelle tâche</a>
	</div>
{% endblock %}
