{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Ma todo list à moi</h1>
{% endblock %}

{% block header_img %}
	<div class="container">
		<img class="img-fluid" src="{{ asset('assets/img/todolist_thin.jpg') }}" alt="todo list">
	</div>
{% endblock %}

{% block body %}
	<div class="row mb-5">
		<a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
	</div>
	<div class="row">
		<div class="col-lg-6 mb-5">
			<h2 class="mb-5">
				<i class="bi bi-list-task"></i>
				Tâches à faire :</h2>
			{% for task in tasks %}
				{% if not task.isDone %}

					{% include "/task/partials/_taskListGroup.html.twig" %}

				{% endif %}
			{% endfor %}
		</div>
		<div class="col-lg-6">
			<h2 class="mb-5">
				<i class="bi bi-list-check"></i>
				Tâches terminées :</h2>
			{% for task in tasks %}
				{% if task.isDone %}

					{% include "/task/partials/_taskListGroup.html.twig" %}

				{% endif %}
			{% endfor %}
		</div>

		{% if not tasks %}
			<div class="alert alert-primary" role="alert">
				Vous n'avez pas de tâches à faire ou réalisées,
				{{ app.user.username|capitalize }}.
			</div>
		{% endif %}
	</div>
{% endblock %}
