{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Créer un utilisateur</h1>
{% endblock %}

{% block body %}

	{{ form_start(form, {'action' : path('user_create')}) }}

	{% include "/user/partials/_userForm.html.twig" %}

	<div class="row">
		<button type="submit" class="btn btn-success pull-right">Ajouter</button>
	</div>

	{{ form_end(form) }}
{% endblock %}
