{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Créer un utilisateur</h1>
{% endblock %}

{% block body %}

	{{ form_start(form, {'action': path('user_create')}) }}

	{% include "/user/partials/_userForm.html.twig" %}

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success pull-right">Ajouter</button>
		{{ form_end(form) }}
		<a href="{{ path('user_list') }}" class="btn btn-primary">Retour à la liste des utilisateurs</a>
	</div>

{% endblock %}
